[Unit]
Description=Daily eLabFTW backup

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
Persistent=true
RandomizedDelaySec=15m
Unit=elabftw-backup.service

[Install]
WantedBy=timers.target
